</div><!-- /.container -->
        <footer class="footer">
          <div class="container">
            <p class="text-muted">&copy; YelpCamp 2018 - by <strong><a href="https://www.facebook.com/forreiter.szabolcs">Szabolcs Forreiter</a></strong> | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New Campground</a></p>
          </div>
        </footer>
        
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
            
        <!-- Custom JS for search feature -->
        <script src="/scripts/search.js" async defer></script>
    </body>
</html>