</div><!-- /.container -->
<div class="container-fluid">
  <!--Footer-->
  <footer class="page-footer font-small deep-orange pt-4 mt-4">
  
      <!--Footer Links-->
      <div class="container text-center text-md-left">
          <div class="row">
  
              <!--First column-->
              <div class="col-md-6">
                  <h5 class="text-uppercase"><strong>Contact</strong></h5>
                  <p class="badge badge-pill black p-1"><i class="fa fa-github" aria-hidden="true"><a href="https://github.com/ForiDunk"> Github</a></i></p>
                  <p class="badge badge-pill blue p-1"><i class="fa fa-facebook-official" aria-hidden="true"><a href="https://www.facebook.com/forreiter.szabolcs"> Facebook</a></i></p>
              </div>
              <!--/.First column-->
  
              <!--Second column-->
              <div class="col-md-6">
                          <strong><h5><a href="/campgrounds">Home</a></a> | <a href="/campgrounds/new">New Campground</h5></p></strong>
              </div>
              <!--/.Second column-->
          </div>
      </div>
      <!--/.Footer Links-->
  
      <!--Copyright-->
      <div class="footer-copyright py-3 text-center">
          <p>&copy; 2018 Copyright: <strong><a href="https://github.com/ForiDunk">Szabolcs Forreiter</a></strong></p>
      <!--/.Copyright-->
      </div>
  </footer>
  <!--/.Footer-->
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
            
        <!-- Custom JS for search feature -->
        <script src="/scripts/search.js" async defer></script>
    </body>
</html>