<% include ./partials/header %>
<div class="row d-flex justify-content-center deep-orange-text"> 
<div class="col-md-4 col-sm-6 col-8">
    <form action="/register" method="post">
        
        <p class="h4 text-center mb-4">Sign Up</p>
            
        <!-- Material input text -->
        <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" name="username" placeholder="Your name" class="form-control">
        </div>
    
        <!-- Material input password -->
        <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" name="password" placeholder="Your password" class="form-control">
        </div>
    
        <div class="text-center mt-4">
            <button class="btn btn-outline-deep-orange" type="submit">Sign Up!</button>
        </div>
    </form>
    </div>
</div>
<!-- Material form login -->
<% include ./partials/footer %>