<% include ../partials/header %> 
     <header class="jumbotron animated fadeInLeft">
         <div class="container">
             <h1 class="h1-reponsive mb-4 mt-2 deep-orange-text font-bold">Welcome To YelpCamp!</h1>
             <p class="lead">View our hand-picked campgrounds from all over the world</p>
             <p>
                <a class="btn btn-lg btn-outline-deep-orange btn-lg" href="/campgrounds/new">Add New Campground</a>
             </p>
              <p>
              <form action="/campgrounds" method="GET" class="form-inline" id="campground-search">
                    <div class="md-form mt-0">
                        <input class="form-control mr-sm-2" type="text" name="search" placeholder="Campground search..." aria-label="Search">
                    </div>
                </form>
             </p>
         </div>
     </header>
     
     <div class="row text-center flex-wrap" id="campground-grid">
         
            <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
            <!-- Card -->
                <div class="card animated zoomInDown">
                    <div class="view zoom overlay">
                        <!-- Card image -->
                        <img class="card-img-top" src="<%= campground.image %>">
                        <a href="/campgrounds/<%= campground._id %>">
                            <div class="mask flex-center rgba-white-slight"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><%= campground.name %></h4>
                        <hr>
                        <!-- Link -->
                        <a href="/campgrounds/<%= campground._id %>" class="black-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>
                    </div>
                </div>
             </div>
        <% }); %>
     </div>
</div>

<% include ../partials/footer %>